# Problem Set 2

# Question 1 
Consider the following Python module: 
a = 0 
def  b(): 
global  a 
a  = c(a) 
 
def  c(a): 
return  a  +  2 
 
After importing the module into the interpreter, you execute: 
 
>>> b() 
>>> b() 
>>> b() 
>>> a 
? 
 
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [81]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

# Execution and output:
b()  # After this, a becomes 2
b()  # Now a becomes 4
b()  # Now a becomes 6
print("Output for the question-1:\n")
print(a)  # Output will be 6

Output for the question-1:

6

### Explaination
As per the execution, on each call to b() increments variable a by 2 and the three calls result in a increasing value from 0 to 6.

In more detailed, the final output of a is 6 because each call to the function b() increases a by 2. Starting from an initial value of 0, we call b() three times, resulting in increments of 2 on each call. Thus, a progresses as follows:

After the first call to b(): a = 2

After the second call to b(): a = 4

After the third call to b(): a = 6

So, when we print a, the output is 6.

# Question 2 
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file: 
 
>>>  fileLength('midterm.py') 
284 
>>>  fileLength('idterm.py') 
Traceback  (most  recent  call  last): 
File  "<pyshell#34>",  line  1,  in  <module> 
fileLength('idterm.py') 
File  "/Users/me/midterm.py",  line  3,  in  fileLength 
infile  =  open(filename) 
FileNotFoundError:  [Errno  2]  No  such  file  or  directory: 
'idterm.py' 
 
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead: 
 
>>>  fileLength('midterm.py') 
358 
>>>  fileLength('idterm.py') 
File  idterm.py  not  found.

In [82]:
def fileLength(filename):
    try:
        with open(filename) as infile:
            content = infile.read()
        return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")

### Check with the correct filename

In [83]:
file = "filelength(1).txt"
fileLength(file)

123

### Check with the in-correct filename

In [84]:
file = "ilelength(1).txt"
fileLength(file)

File ilelength(1).txt not found.

# Question 3 
Write a class named Marsupial that can be used as shown below: 

 
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also: 
a. extends the Marsupial  __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object, 
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the y- 
axis, and 
c. overloads the __str__ operator so it behaves as shown below.

In [11]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

### Print the output

In [12]:
k  =  Kangaroo(0,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)

In [13]:
 k.put_in_pouch('doll') 
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [14]:
k.jump(1,0) 
k.jump(1,0) 
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4 
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
 
x = {  𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 
+ 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 
 
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [16]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [17]:
collatz(1)

1

In [18]:
collatz(10)

10
5
16
8
4
2
1

# Question 5 
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [23]:
def binary(n):
    if n < 2:
        print(n, end="")
    else:
        binary(n // 2)
        print(n % 2, end="")

### Output

In [25]:
 binary(0)

0

In [26]:
 binary(1)

1

In [24]:
binary(3)

11

In [27]:
binary(9)

1001

# Question 6 
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [76]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1].isdigit():
            self.in_heading = True
            self.heading_level = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h') and tag[1].isdigit():
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(" " * self.heading_level + data)

In [77]:
infile  =  open('w3c.html') 
content  =  infile.read() 
infile.close() 
hp  =  HeadingParser() 
hp.feed(content)

W3C Mission
 Principles

# Question 7 
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent,  should 
be used to indicate the depth of a URL.

In [87]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return
    
    print(" " * indent + url)
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, "html.parser")
        links = soup.find_all("a", href=True)
        for link in links:
            href = link['href']
            if href.startswith("http"):
                webdir(href, depth - 1, indent + 2)
                
    except requests.RequestException as e:
        print(f"Could not retrieve page {url}: {e}")

In [88]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' ,  2,  0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8 
Write SQL queries on the below database table that return: 
a) All the temperature data. 
b) All the cities, but without repetition. 
c) All the records for India. 
d) All the Fall records. 
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters. 
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order. 
g) The total annual rainfall for Cairo. 
h) The total rainfall for each season.

### Establish the connection and database creation

In [52]:
import sqlite3

# Connect to the SQLite database 
conn = sqlite3.connect('WeatherDB.db')
cursor = conn.cursor()

### Create a table

In [43]:
# Step 1: Create the WeatherData table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS WeatherData (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

### Insert the data into table

In [44]:
# Step 2: Insert data into the WeatherData table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall)
    VALUES (?, ?, ?, ?, ?)
''', data)

### Commit the changes and print the data

In [45]:
# Commit the changes
conn.commit()

# Verify the inserted data
cursor.execute("SELECT * FROM WeatherData")
rows = cursor.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

## SQL queries

### a) All the temperature data.

In [53]:
cursor.execute("SELECT Temperature FROM WeatherData")
print("Temperatures:", cursor.fetchall())

Temperatures: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

### b) All the cities, but without repetition.

In [54]:
cursor.execute("SELECT DISTINCT City FROM WeatherData")
print("Cities:", cursor.fetchall())

Cities: [('Mumbai',), ('London',), ('Cairo',)]

### c) All the records for India.

In [56]:
cursor.execute("SELECT * FROM WeatherData WHERE Country = 'India'")
print("Records for India:", cursor.fetchall())

Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### d) All the Fall records.

In [59]:
cursor.execute("SELECT * FROM WeatherData WHERE Season = 'Fall'")
print("All the Fall records:", cursor.fetchall())

All the Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [60]:
cursor.execute("SELECT City, Country, Season FROM WeatherData WHERE Rainfall BETWEEN 200 AND 400;")
print("Records for place with rainfall is between 200 and 400 millimeters:", cursor.fetchall())

Records for place with rainfall is between 200 and 400 millimeters: [('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [61]:
cursor.execute("SELECT City, Country FROM WeatherData WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC;")
print("Records for place with average Fall temperature is above 20 degrees:", cursor.fetchall())

Records for place with average Fall temperature is above 20 degrees: [('Cairo', 'Egypt'), ('Mumbai', 'India')]

### g) The total annual rainfall for Cairo.

In [64]:
cursor.execute("SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall FROM WeatherData WHERE City = 'Cairo' GROUP BY City;")
print("The total annual rainfall for Cairo:", cursor.fetchall())

The total annual rainfall for Cairo: [('Cairo', 27.6)]

### h) The total rainfall for each season.

In [65]:
cursor.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM WeatherData GROUP BY Season;")
print("The total rainfall for each season:", cursor.fetchall())

The total rainfall for each season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

### Close the connection

In [66]:
conn.close()

# Question 9
Suppose list words is defined as follows: 
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 
'the',  'lazy',  'dog'] 



Write list comprehension expressions that use list words and generate the following 
lists: 

a) ['THE',  'QUICK',  'BROWN',  'FOX',  'JUMPS',  'OVER',  'THE', 
'LAZY',  'DOG'] 
b) ['the',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 
'lazy',  'dog'] 
c) [3,  5,  5,  3,  5,  4,  3,  4,  3] (the list of lengths of words in list 
words). 
d) [['THE',  'the',  3],  ['QUICK',  'quick',  5],  ['BROWN', 
'brown',  5],  ['FOX',  'fox',  3],  ['JUMPS',  'jumps',  5], 
['OVER',  'over',  4],  ['THE',  'the',  3],  ['LAZY',  'lazy', 
4],  ['DOG',  'dog',  3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.) 
e) ['The',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 
'lazy',  'dog'] (the list of words in list words containing 4 or more 
characters.)

In [68]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### a) Uppercase version

In [70]:
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b) Lowercase version

In [71]:
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c) Length of each word

In [73]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d) Uppercase, lowercase, and length of each word

In [74]:
detailed_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(detailed_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### e) Words with 4 or more characters

In [75]:
four_plus_chars = [word for word in words if len(word) >= 4]
print(four_plus_chars)

['quick', 'brown', 'jumps', 'over', 'lazy']